* {
    margin: 0;
    padding: 0;
}

header {
    margin: 4em;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
    font-size: 18px;
}

nav ul li a {
    color: darkcyan;
}

.actions * {
    margin: 0 1em;
}

button {
    background-color: greenyellow;
    padding: 1em;
    border: green;
    display: inline;
}

.container-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    color: darkslategray;
    font-size: 60px;
}

h3 {
    font-weight: bold;
    font-size: 22px;
}

main {
    margin: 0 3vw;
}

p {
    font-size: 20px;
}

img {
    max-width: 95%;
}

.intro {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2em;
}

.content > * {
    margin: 2rem;
}

.intro > .content {
    grid-column-start: 1;
    grid-column-end: 2;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.smaller {
    font-size: 14px;
    color: gray;
}

.sponsors {
    margin: 4em;
}

.sponsors > p {
    text-align: center;
}

.sponsors > .brands {
    margin: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3em;
    align-items: center;
}

.features {
    text-align: center;
    margin-top: 10em;
}

.points {
    display: flex;
}

.points article {
    margin: 0.5vw;
}

.points img {
    height: 40vh;
    width: 30vw;
    margin: 1em;
}

.points h3 {
    margin: 0.5em;
}

.tools {
    text-align: center;
    margin-top: 10em;
}

.tools h2 {
    font-size: 40px;
}

.tools-container {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    align-items: cetner;
    gap: 1vw;
}

.tools-container article {
    border: 1px solid black;
    width: 22vw;
}

.tools-container img {
    max-width: 15%;
}

.tools-container h3 {
    font-size: 20px
}

.tools-container p {
    font-size: 18px;
}

.tools-container article * {
    margin: 0.7em 0.3em;
}
